<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robot)/config/control.yaml" command="load"/>


  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" ns="/cart"
  args="joint_rwh_position_controller joint_lwh_position_controller
    joint_state_controller joint_rw_velocity_controller joint_lw_velocity_controller"/>


  <node name="twist_to_ackermann" pkg="robot" type="twist_to_ackermann" >
  </node>

</launch>
