<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <param name="robot_description"
    command="$(find xacro)/xacro '$(find robot)/urdf/gem.xacro'" />

  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- Send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <!-- node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-file '$(find robot)/models/cart/model.urdf' -urdf -model cart_front_steer"-->
  <!-- -param robot_description" -->

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model cart"/>

  <!-- Show in Rviz -->
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot)/launch/robot.rviz"
-->
  <!-- ros_control rrbot launch file -->
  <!--include file="$(find rrbot_control)/launch/rrbot_control.launch" /-->

</launch>
